[submodule "public"]
	path = public
	url = https://github.com/casualgaming/casualgaming.github.io.git
[submodule "themes/casual-assembly"]
	path = themes/casual-assembly
	url = https://github.com/CasualGaming/casual-assembly.git
