{{ "<!-- Favicon -->" | safeHTML }}
<link rel="apple-touch-icon" sizes="180x180" href="{{ "favicon/apple-touch-icon.png" | absURL }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "favicon/favicon-32x32.png" | absURL }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "favicon/favicon-16x16.png" | absURL }}">
<link rel="manifest" href="{{ "favicon/site.webmanifest" | absURL }}">
<link rel="mask-icon" href="{{ "favicon/safari-pinned-tab.svg" | absURL }}" color="#4d60b3">
<link rel="shortcut icon" href="{{ "favicon/favicon.ico" | absURL }}">
<meta name="apple-mobile-web-app-title" content="Casual Gaming">
<meta name="application-name" content="Casual Gaming">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-config" content="{{ "favicon/browserconfig.xml" | absURL }}">
<meta name="theme-color" content="#ffffff">
